<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <first-test>
    <script type="application/json" data-sce-arg="arg"> {"text": "arg"} </script>
    <script type="application/json" data-sce-arg="config"> {"text": "config"} </script>
    <script type="application/json" data-sce-arg="error"> {text: "error"} </script>
  </first-test>
</body>
<script src="../js/first/first.js" type="module"></script>
</html>