<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <test-element>
    <script type="application/json" data-sce-arg="arg1">
      {
        "list": [
          { "num": 1 },
          { "num": 2 },
          { "num": 3 },
          { "num": 4 },
          { "num": 5 },
          { "num": 6 }
        ]
      }
    </script>
    <script type="application/json" data-sce-arg="arg2">
      {
        "list": [
          { "num": 7 },
          { "num": 8 },
          { "num": 9 },
          { "num": 10 },
          { "num": 11 },
          { "num": 12 }
        ]
      }
    </script>
    <script type="application/json" data-sce-arg="arg3">
      {
        "list": [
          { "num": 13 },
          { "num": 14 },
          { "num": 15 },
          { "num": 16 },
          { "num": 17 },
          { "num": 18 }
        ]
      }
    </script>
  </test-element>
</body>
<script type="importmap">
  {
    "imports": {
      "@nuka9510/js-util": "/node_modules/@nuka9510/js-util/dist/index.js",
      "@nuka9510/simple-custom-element": "/dist/index.js"
    },
    "scopes": {
      "/dist/": {
        "/dist/component": "/dist/component.js",
        "/dist/context": "/dist/context.js",
        "/dist/plugin": "/dist/plugin.js",
        "/dist/register": "/dist/register.js",
        "/dist/state": "/dist/state.js"
      },
      "/node_modules/@nuka9510/js-util/dist/": { "/node_modules/@nuka9510/js-util/dist/util": "/node_modules/@nuka9510/js-util/dist/util.js" }
    }
  }
</script>
<script src="../js/index.js" type="module"></script>
</html>